@import "./color";

body {
    font-size: 62.5%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    }
.header {
    font-size: 3rem;
    display: flex;
    justify-content: center;
}


#holiday-parent {
    background-image: linear-gradient(
      to right bottom,
      color(Alpha),
      color(Gamma)
    ),
    url("media/Zinogre.gif");
    background-size: cover;
    background-position: center;
    height: 200rem;
    position: relative;
    }
.flame, .bark, .diwali, .city, .warp {
    height: 20rem;
    width: 20rem;    
    transform: translate(0%, 100%);
    padding: 5rem;
}

.warp {
    border-radius: 50%;
}

.city {
    border-radius: 30rem/15rem;
}


.holiday-gallery {
    position: relative;
    margin: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    }



.bark:active {
    filter: drop-shadow(1rem 1rem 1rem);
    filter: invert(1rem);
}

.flame:hover {
    /*animation: name duration timing-function delay iteration-count direction fill-mode */
    animation-name: Reshape;
    animation-duration: 1s;
    animation-iteration-count: infinite;

}

@keyframes Reshape {
    from {
      height: 20rem;
      width: 20rem;
    }
    to {
      border-radius: 10rem/20rem;
      color: color(Beta);
    }
  }