@import "./color"

html {
    font-size: 62.5%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    }
    
#holiday-parent {
    background-image: linear-gradient(
        to right bottom,
        rgb(255, 7, 7),
        rgba(18, 14, 255, 0.815)
        ),
        url('/media/Zinogre.gif');
        background-size: cover;
        background-position: center;
        height: 250rem;

        position: relative;
    }
.flame, .bark, .diwali {
    height: 20rem;
    width: 20rem;    
    transform: translate(0%, 100%);
}

.holiday-gallery {
    position: relative;
    margin: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    }



.bark:hover {
    filter: drop-shadow(1rem 1rem 1rem);
    filter: invert(1rem);
}